

*{
    margin-right: 50px;
    margin-left: 50px;

}
 
.head{
  color: blue;
}
.head1{
  color:turquoise;
}
.head2{
  color: palevioletred;
}
.head3{
  color: red;
  font-size: larger;
}
.giveMeRed{
  color: green;
}
.blue{
    color: blue;
  }