<!-- <h1>ANGULAR</h1> -->
<div class="text-center"><img src="https://www.vectorlogo.zone/logos/angular/angular-icon.svg"><h1 style="color: red;">ANGULAR</h1></div>
<i class="fa-brands fa-angular"></i>

<nav class="text-center">
  <a routerLink="/interpolation" routerLinkActive="active">Interpolation</a>

  <a routerLink="/event-binding" routerLinkActive="active">Event-Binding</a>
  
  <a routerLink="/property-binding" routerLinkActive="active">Property-Binding</a>

  <a routerLink="/class-binding" routerLinkActive="active">Class-Binding</a>

  <a routerLink="/style-binding" routerLinkActive="active">Style-Binding</a>

  <a routerLink="/two-way" routerLinkActive="active">Two-Way Binding</a>
</nav>
<router-outlet></router-outlet>

<!-- <ol>
    <li><a routerLink="/interpolation" routerLinkActive="active">Interpolation</a></li>

    <li><a routerLink="/event-binding" routerLinkActive="active">Event-Binding</a></li>

    <li><a routerLink="/property-binding" routerLinkActive="active">Property-Binding</a></li>

    <li><a routerLink="/class-binding" routerLinkActive="active">Class-Binding</a></li>

    <li><a routerLink="/style-binding" routerLinkActive="active">Style-Binding</a></li> -->


    <!-- <li><a routerLink="/event-binding" routerLinkActive="active">Event-Binding</a></li> -->
<!-- </ol> -->